
/*
-------------------------------------------------------------------------------------------
*** SPECIFICATION ***

== Color ==
* Teal color (used for headings and backgrounds): #4aaaa5
* Regular font color (used for paragraphs and all text besides the headings): #777777
* Main header background color: #ffffff
* Main header border color: #cccccc
* Footer background color: #666666
* Main content background color: #ffffff
* Main content border color: #dddddd

== Fonts ==
* For heading fonts use font-family: 'Georgia', Times, Times New Roman, serif; .
* For all other fonts use 'Arial', 'Helvetica Neue', Helvetica, sans-serif; .

== Dimensions ==
* The entire content and the main section content area is 960px wide.
-------------------------------------------------------------------------------------------
*/

body {
  color: #777777;
  background-image: url(../images/ep_naturalwhite.png);
  background-color: #4aaaa5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  /* this has become needed after making footer fixed position at bottom */
  margin-bottom: 10%;
}

/***** Header at top *******/

header {
  background-color: #ffffff;
  border-bottom: 2px solid #cccccc;
}

header h1 {
  display: inline-block;
  color: #ffffff;
  background-color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  padding: 22px;
  margin-left: 150px;
}

header::after {
  content: '';
  display: block;
  clear: both;
}

/* Nav link items */
nav {
  /* display: inline; */
  /* position: relative; */
  top: 0px;
  left: 150px;
  float: right;
  padding: 20px 0px 0px 0px;
  margin-right: 150px;
}
nav ul li {
  float: left;
  padding: 15px 0px 15px 20px;
}
nav ul li a:link {
  color: #777777;
  text-decoration: none;
}
nav ul li a:visited {
  color: #777777;
}
nav ul li a:hover {
  color: #4aaaa5;
  background-color: #ddd;
}

/***** Middle Section *******/

section {
  display: block;
  background-color: #ffffff;
  margin: 30px 150px;
  padding: 0px 25px;
  /* width: 75%; */
}

section h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #4aaaa5;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 2px solid #dddddd;
  margin: 15px 0px;
  padding: 15px 0px;
}

article {
  line-height: 2.0em;
}

aside img {
  width: 150px;
  float: left;
  margin: 10px 15px 0px 0px;
}

/***** Portfolio Page *******/
/*
now using bootstrap grid system
*/
.portfolio-caption {
  position: relative;
  top: -45px;
  width: 20vw;
  height: auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #ffffff;
  background-color: #4aaaa5;
  text-align: center;
  font-size: 1.0em;
  margin: 0.5em 0em;
}

 .portfolio-img {
  width: 20vw;
  height: 25vh;
} 

@-webkit-keyframes dir1 {
  0%   { left:0px; top:0px; }
  25%  { left:40vw; top:0px; }
  50%  { left:40vw; top:50vh; }
  75%  { left:0px; top:50vh; }
  100% { left:0px; top:0px; }
}

@keyframes dir1 {
  0%   { left:0px; top:0px;}
  25%  { left:40vw; top:0px;}
  50%  { left:40vw; top:50vh;}
  75%  { left:0px; top:50vh;}
  100% { left:0px; top:0px;}
}

#prj1 {
  -webkit-animation-name: dir1; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: normal; /* Safari 4.0 - 8.0 */
  animation-name: dir1;
  animation-duration: 5s;
  animation-direction: normal;    
}

@-webkit-keyframes dir2 {
  0%   { left:0px; top:0px; }
  25%  { left:-40vw; top:0px; }
  50%  { left:-40vw; top:50vh; }
  75%  { left:0px; top:50vh; }
  100% { left:0px; top:0px; }
}

@keyframes dir2 {
  0%   { left:0px; top:0px; }
  25%  { left:-40vw; top:0px; }
  50%  { left:-40vw; top:50vh; }
  75%  { left:0px; top:50vh; }
  100% { left:0px; top:0px; }
}

#prj2 {
  -webkit-animation-name: dir2; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: normal; /* Safari 4.0 - 8.0 */
  animation-name: dir2;
  animation-duration: 5s;
  animation-direction: normal;
}

@-webkit-keyframes dir3 {
  0%   { left:0px; top:0px; }
  25%  { left:40vw; top:0px; }
  50%  { left:40vw; top:-40vh; }
  75%  { left:0px; top:-40vh; }
  100% { left:0px; top:0px; }
}

@keyframes dir3 {
  0%   { left:0px; top:0px;}
  25%  { left:40vw; top:0px;}
  50%  { left:40vw; top:-40vh;}
  75%  { left:0px; top:-40vh;}
  100% { left:0px; top:0px;}
}

#prj3 {
  -webkit-animation-name: dir3; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: normal; /* Safari 4.0 - 8.0 */
  animation-name: dir3;
  animation-duration: 5s;
  animation-direction: normal;
}

@-webkit-keyframes dir4 {
  0%   { left:0px; top:0px; }
  25%  { left:-40vw; top:0px; }
  50%  { left:-40vw; top:-40vh; }
  75%  { left:0px; top:-40vh; }
  100% { left:0px; top:0px; }
}

@keyframes dir4 {
  0%   { left:0px; top:0px; }
  25%  { left:-40vw; top:0px; }
  50%  { left:-40vw; top:-40vh; }
  75%  { left:0px; top:-40vh; }
  100% { left:0px; top:0px; }
}

#prj4 {
  -webkit-animation-name: dir4; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: normal; /* Safari 4.0 - 8.0 */
  animation-name: dir4;
  animation-duration: 5s;
  animation-direction: normal;
}

@-webkit-keyframes dir5 {
  0%   { left:0px; top:0px; }
  25%  { left:40vw; top:0px; }
  50%  { left:40vw; top:-40vh; }
  75%  { left:0px; top:-40vh; }
  100% { left:0px; top:0px; }
}

@keyframes dir5 {
  0%   { left:0px; top:0px; }
  25%  { left:40vw; top:0px; }
  50%  { left:40vw; top:-40vh; }
  75%  { left:0px; top:-40vh; }
  100% { left:0px; top:0px; }
}

#prj5 {
  -webkit-animation-name: dir5; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: normal; /* Safari 4.0 - 8.0 */
  animation-name: dir5;
  animation-duration: 5s;
  animation-direction: normal;
}

/***** Contact Page *******/
input[type=text] {
  width: 100%;
  padding: 8px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  /* border-radius: 4px; */
  background-color: #f8f8f8;
  resize: vertical;
}

input[type=submit] {
  width: 15%;
  background-color: #4aaaa5;
  color: white;
  padding: 7px 10px;
  margin: 5px 0;
  border: none;
  font-size: 1.05em;
  /* border-radius: 4px; */
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/***** Footer at the bottom *******/
footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #666666;
  color: #ffffff;
  font-size: 0.8em;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 7px;
  padding-top: 39px;
  border-top: 5px solid #4aaaa5;
}
